node_modules/
.env
dist/
.DS_Store
*.log
invoice-ocr-service/uploads/*
!invoice-ocr-service/uploads/.gitkeep
invoice-ocr-v2/uploads/*
!invoice-ocr-v2/uploads/.gitkeep
backend/uploads/avatars/*
!backend/uploads/avatars/.gitkeep
